:root {
	--dark: #111;
	--light: #fff;
}

@media (prefers-color-scheme: dark) {
	.button-hour {
		width: 20%;
		font-size: 60px;
		padding: 5% 0 5% 0;
		margin: 20% 5% 0 5%;
		background-color: var(--dark);
		color: var(--dark);
	}

	.button-presenter {
	}

	.button-play {
	}

	.button-basebar {
	}
}

.button-hour {
	width: 20%;
	font-size: 60px;
	padding: 5% 0 5% 0;
	margin: 15% 5% 0 5%;
	background-color: var(--light);
	color: var(--dark);
	border-radius: 30px;
	border: 5px var(--dark) solid;
}
.button-hour:hover {
	background-color: var(--dark);
	color: var(--light);
}
.button-presenter {
	width: 20%;
	padding: 2% 0 2% 0;
	margin: 0 30px 0 30px;
	background-color: var(--light);
	color: var(--dark);
	font-size: 40px;
	border-radius: 10px;
	border: 5px var(--dark) solid;
}
.button-presenter:hover {
	background-color: var(--dark);
	color: var(--light);
}

.button-play {
	width: 250px;
	height: 250px;
	border-radius: 10px;
	border: 5px var(--dark) solid;
}

.button-basebar {
}

.play-button-stopped {
	font-size: 300px;
	color: lightskyblue;
}

.play-button-playing {
	font-size: 300px;
	color: green;
}

.stop-button-stopped {
	font-size: 300px;
	margin-left: 20px;
	color: lightsalmon;
}
.stop-button-playing {
	font-size: 300px;
	margin-left: 20px;
	color: red;
}
